*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(246, 250, 220);
}
.nav{
    background-color: blue;
    padding: 30px;
}
.navbar button{
    background-color: blue;
    border: none;
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin-left: 30px;
}
ul{
    list-style-type: none;
}
.html{
    display: none;
}
.btn1{
    position: relative;
}
.btn1:hover .html{
    display: inline-block;
    position: absolute;
    background-color: blue;
    color: white;
    top: 20px;
    left: 0px;
    padding: 40px 10px 10px 10px;
    /* overflow: hidden; */
}
.html ul li{
    margin-top: 10px;
}
.html li:hover{
    background-color: green;
    color: white;
    transform: scale(1.2);
    transition: 1s;
}
/* second drop */
a{
    text-decoration: none;
    display: inline-block;
    color: white;
}
.moredrop{
    display: none;
}
.more{
    position: relative;
}
.more:hover .moredrop{
    display: block;
    position: absolute;
    background-color: blue;
    color: white;
    top: 0px;
    left: 110px;
    width: 150px;
    text-align: start;
    padding: 5px 10px 5px 10px;
}
.moredrop a:hover{
    background-color: green;
    color: white;
    width: 100%;
    transform: scale(1.2);
    transition: 1s;
}
.jsdrop ul{
    list-style-type: none;
    text-align: start;
}
.jsdrop{
    display: none;
}
.js{
    position: relative;
}
.js:hover .jsdrop{
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 0px;
    background-color: blue;
    color: white;
    width: 180px;
    padding: 40px 56px 10px 10px;
}
.jsdrop li:hover{
    background-color: green;
    color: white;
    transform: scale(1.2);
    transition: 1s;
}

